@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap");

.logo {
  font-family: "Martel", serif;
  font-weight: bold;
  font-size: 1.5rem;
}
