@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Maven+Pro:wght@400..900&display=swap");

.navbar {
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}
.selected {
  border-bottom: 5px solid #28bd11;
  padding-bottom: 0px;
}
