/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ui/line.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.line_inner__Qwpqs {
  font-family: "Martel", serif;
  font-weight: 900;
  font-size: 1rem;
  border-radius: 20px;
  padding: 10px 25px;
  background-color: #28bd11;
  width: fit-content;
  text-align: center;
  position: relative;
}
.line_inner__Qwpqs::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #28bd11;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.line_inner__Qwpqs::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #28bd11;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.line_outer__OGFRb {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 30px auto;
}

.line_outer__OGFRb::before {
  content: "";
  width: 400px;
  height: 5px;
  border-radius: 2px;
  background-color: #28bd11;
  position: absolute;
  rotate: 360deg;
  right: -420px;
  top: 50%;
  transform: translateY(-50%);
}

.line_outer__OGFRb::after {
  content: "";
  width: 400px;
  height: 5px;
  border-radius: 2px;
  background-color: #28bd11;
  position: absolute;
  rotate: 360deg;
  left: -420px;
  top: 50%;
  transform: translateY(-50%);
}

/* lg */
@media (max-width: 1023px) {
  .line_outer__OGFRb::after {
    width: 270px;
    left: -310px;
  }
  .line_outer__OGFRb::before {
    width: 270px;
    right: -310px;
  }
}

/* md */
@media (max-width: 767px) {
  .line_outer__OGFRb::after {
    width: 240px;
    left: -270px;
  }
  .line_outer__OGFRb::before {
    width: 240px;
    right: -270px;
  }
}

/* sm */
@media (max-width: 675px) {
  .line_outer__OGFRb::after {
    width: 140px;
    left: -170px;
  }
  .line_outer__OGFRb::before {
    width: 140px;
    right: -170px;
  }
}

/* vsm */
@media (max-width: 450px) {
  .line_outer__OGFRb::after {
    width: 70px;
    left: -90px;
  }
  .line_outer__OGFRb::before {
    width: 70px;
    right: -90px;
  }
}

